.education-page-container > h1 {
  display: inline-block;
  margin-top: 50px;
}

.inner-education-container {
  display: inline-block;
  text-align: left;
  width: 80%;
}

.education-page-container {
  background-color: #DDAE92;
  min-height: 100vh;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

ul.education-achievement-events > li {
  background-color: white;
  padding: 20px;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
  margin-bottom: 20px;
}

.card-left-header h2, .card-left-header h5 {
  text-align: left;
}

.card-left-header {
  flex: 1; 
}

.card-section {
  display: inline-block;
  margin-right: 10px;
}

.card-right-gcse-grades {
  float: right;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.card-right-alevel-grades {
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.grade-number {
  float: right;
  margin-left: 5px;
}

.education-achievement-events > li > div {
  display: flex;
  flex-flow: row wrap;
}

.gcse-grades-column {
  display: inline-block;
}

.left-column-gcse-grades {
  margin-right: 50px;
}

.gcse-grades-column > li {
  width: max-content;
}

.card-right-description {
  flex: 3;
  display: flex;
  min-width: 200px;
}

.card-right-description > p {
  margin: auto;
}

.gcse-columns-container {
  display: flex;
  justify-content: center;
}

.the-latymer-school {
  justify-content: center;
}

.card-right-school-grades {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.internal-card {
  width: calc(25% - 20px);
  background-color: #BAB0BF;
  box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
  margin: 10px;
}

.internal-card > h3 {
  margin-right: 15px;
  margin-left: 15px;
}

.date-container {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
  height: 50px;
}

.date-container > h5 {
  line-height: 50px;
  margin: 0;
}

.logos-container {
  display: inline-block;
}

.logos-container > a {
  margin-right: 10px;
  margin-left: 10px;
}

.logos-container > a > img {
  border-radius: 5px;
}

.outer-cards-description-school-grades-container {
  display: flex;
  flex: 3 1;
}