@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.homepage-body {
  min-height: 100vh;
  column-count: 2;
  position: relative;
  top: 95vh;
  background: #ECEBEA;
  column-gap: 0;
  color: #545454;
}

.homepage-col {
  min-height: 100vh;
}

.homepage-card {
  min-height: 100vh;
  display: flex;
}

.homepage-card-vertical-middle {
  margin: auto;
}

#homepage-card-education-achievements {
  background-color: #DDAE92;
}

#homepage-card-experience {
  background-color: #BAB0BF;
}

div.homepage-col > a {
  text-decoration: none;
  color: #545454;
}

div.homepage-card > div.homepage-card-vertical-middle > h1 {
  font-family: 'Oswald', sans-serif;
}

div.homepage-card > div.homepage-card-vertical-middle >  p {
  font-family: 'Oswald', sans-serif;
}
