.home-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    transition: ease-out all 0.5s;
    color: black;
}

.home-button:hover {
    cursor: pointer;
    color: gray;
    transition: ease-out all 0.5s;
}